/*стилізація body*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
    
}
ul{
    list-style: none;
}
/* Кінець стилізація body*/

/*стилізація логотипа*/
.header-wr-navigation-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-wr-navigation-logo-color{
    color:#2e2f42 ;
}
/* Кінець стилізація логотипа*/

/*Оформлення навігації*/
.header-wr-navigation-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-wr{
    font-style: normal
}
.address-wr-menu1,.address-wr-menu-item2{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-menu-link1{
color: #434455;
}
.address-menu-link1:hover{
color: #404bbf
}
.address-menu-link1:focus{
    color: #404bbf
}
/*Кінець оформлення навігації*/
/*Секція 1. Кнопка*/
.main-wr-section-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main-wr-element-a-button{
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.main-wr-element-a-button{
    cursor: pointer;/* властивість наведення курсору */
}
.main-wr-element-a-button:hover {
    background-color: #404BBF;
}
.main-wr-element-a-button:focus {
    outline: none; /* Видаляємо фокусовану рамку за замовчуванням (це важливо для доступності) */
    background-color: #404BBF;
}
/* Кінець - Секція 1. Кнопка*/

/*  Секція 2.*/
.main-section-b-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-section-b-p{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
/*  Кінець секція 2.*/

/*  Секція 3 "our-team".*/
.main-section-c{
    background-color: #F4F4FD;
    color: #2e2f42;
}
.main-section-c-list-item{
    background-color: #FFFFFF;
    color: #2e2f42;
}
.main-section-c-text{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color:#2e2f42;
}
.main-section-c-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-section-c-name-details{
font-size: 16px;
font-weight: 400;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*  Кінець Секція 3 "our-team".*/

/*  Секція 4 .*/
.our-portfolio{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-portfolio-list-item-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-portfolio-list-item-name-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*  Кінець Секція 4 .*/

/*стилізація footer*/
.footer-wr{
background-color: #2e2f42;
}
.footer-wr-text{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color:#f4f4fd;
letter-spacing: 0.02em;
}
.footer-wr-color{
    font-family: Raleway, sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-wr-logo {
color: #f4f4fd;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.034em;
text-transform: uppercase;
}
/* Кінець стилізація footer*/

/* Обнулення дефолтних маржинів для заголовків та параграфів */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
/* Обнулення дефолтних маржинів і лівого падіння для списків */
ul,ol {
    margin: 0;
    padding-left: 0;
}
/* Зроблення зображень блочними елементами */
img {
    display: block;
}
/* Оформлення контейнерів */
.container{
margin: 0 auto;
width: 1158px;
display: flex;
margin: 0 auto;
padding: 0 15px
}
/* Оформлення хедера */
.header-wr{
display: flex;
height: 72px;
border-bottom: 1px solid #e7e9fc;
}
.header-wr-navigation{
display: flex;
align-items: center;
margin-right: auto;
}
.header-wr-navigation-logo{
margin-right: 76px;
}
.header-wr-navigation-list{
display: flex;
gap: 40px;
}
.nav-list-item{
padding: 24px 0;
color: #2e2f42;
}
.nav-list-item:hover,.nav-list-item:focus{
color: #404bbf;}

.navigation-list-link{
color: inherit;
padding:inherit;
}
        /* Оформлення контактів */
.address-wr{
display: flex;
}
.address-wr-menu{
display: flex;
gap: 40px;
align-items: center;
}
/* Оформлення секції hero */
.main-wr-element-a{
padding: 188px 0;
}
.main-wr-element-a>.container{
width: 496px;
display: block;
}
.main-wr-section-text{
    margin-bottom: 48px;
    width: 496px;
}
.main-wr-element-a-button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 48px auto 0;
}
/* Оформлення секції Benefit*/
.main-section-b{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-section-b-menu{
    display: flex;
    gap: 24px;
}
.main-section-b-list{
width: calc((100% - 72px) / 4);
}
.main-section-b-text{
    margin-bottom: 8px;
}
/* Оформлення секції  Our team*/
.main-section-c{
    padding: 120px 0;
}
.main-section-c-text{
    margin-bottom: 72px;
}
.main-section-c>.container{
    display: block;
}
.main-section-c-list{
    display: flex;
    gap: 24px;
}
.main-section-c-list>li{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.people-name-job{
    padding: 32px 0;
}
.people-name-job>h3{
    text-align: center;
    margin-bottom: 8px;
}
.people-name-job>p{
    text-align: center;
}
/* Оформлення секції  Our portfolio*/
.our{
    padding: 120px 0 120px 0
}
.our>.container{
    display: block;
}
.our-portfolio{
margin-bottom: 72px;
text-align: center;
}
.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.our-portfolio-list>li{
    width: calc((100% - 48px) / 3);
}
.app-info{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
} 
.app-info>h3{
    margin-bottom: 8px;
}
/* Оформлення секції  Footer*/
.footer-wr{
    padding: 100px 0
}

.footer-wr-color{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-wr-text{
    width: 264px;
}
/* =========Додавання декоративних елементів=======*/

/* =========Секція герой=======*/
.main-wr-element-a {
    display: block;
margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/office.jpg);
background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
}
.main-wr-element-a-button{
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========Секція 2=======*/
.icon-benefits{
    height: 64px;
    width: 64px;
}
.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    border: 1px solid  #8E8F99;
}
.main-section-b .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
}
/* =========Додавання хедера=======*/
.header-wr {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* ========Оформлення навігації=======*/
.address-menu-link1{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
ul .nav-list-item{
    position: relative;
}
.navigation-list-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-page{
    color: #404BBF;
}
.navigation-list-link.current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    color: #404BBF;
}
.navigation-list-link:hover::after,
.navigation-list-link:focus::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    color: #404BBF;

}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: #404BBF;
}
/* ========Оформлення 3 секція =======*/
.main-section-c-list li{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.icons-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-link{
    background-color:#4d5ae5;
    border-radius:50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link:hover,.icons-link:focus{
    background-color: #404bbf;
}
.people-icons-list{
    width: 100%;
    height: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icons-list-item{
    border-radius: 40px;
    background-color: #4D5AE5;
}
.icons-link-svg{
    fill: #F4F4FD;
}
/* ========Оформлення  4 section overflow=======*/
.our-portfolio-list-item{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.images-app{
    position: relative;
    overflow: hidden;
}
.overflow-info-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-app:hover .overflow-info-text{
    transform: translateY(0);
}

/* ========Оформлення футера=======*/
.content-bas{
    display: flex;
    align-items: baseline
}
.footer-text-logo{
    margin-right: 120px;
}
.footer-link-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;
}
.footer-list-link{
    display: flex;
    gap: 16px;
}
.footer-list-item-link{
    width: 40px;
    height: 40px;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-item-link:hover,.footer-list-item-link:focus{
    background-color: #31d0aa;
}
.footer-list-item-link-svg{
    fill: #f4f4fd;
}