/*стилізація body*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
    
}
ul{
    list-style: none;
}
/* Кінець стилізація body*/

/*стилізація логотипа*/
.header-wr-navigation-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-wr-navigation-logo-color{
    color:#2e2f42 ;
}
/* Кінець стилізація логотипа*/

/*Оформлення навігації*/
.header-wr-navigation-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation-link{
    color: #2e2f42;
}
.navigation-link:hover{
    color: #404bbf;
}

.navigation-link:focus{
    color: #404bbf;
}

.address-wr{
    font-style: normal
}
.address-wr-menu{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link{
    color: #434455;
}
.address-link:hover{
color: #404bbf
}
.address-link:focus{
    color: #404bbf
}
/*Кінець оформлення навігації*/
/*Секція 1. Кнопка*/
.main-wr-element-a{
    background-color:#2e2f42;
}
.main-wr-section-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main-wr-element-a-button{
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.main-wr-element-a-button{
    cursor: pointer;/* властивість наведення курсору */
}
.main-wr-element-a-button:hover {
    background-color: #404BBF;
}
.main-wr-element-a-button:focus {
    outline: none; /* Видаляємо фокусовану рамку за замовчуванням (це важливо для доступності) */
    background-color: #404BBF;
}
/* Кінець - Секція 1. Кнопка*/

/*  Секція 2.*/
.main-section-b-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-section-b-p{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
/*  Кінець секція 2.*/

/*  Секція 3 "our-team".*/
.main-section-c{
    background-color: #F4F4FD;
    color: #2e2f42;
}
.main-section-c-list-item{
    background-color: #FFFFFF;
    color: #2e2f42;
}
.main-section-c-text{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color:#2e2f42;
}
.main-section-c-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-section-c-name-details{
font-size: 16px;
font-weight: 400;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*  Кінець Секція 3 "our-team".*/

/*  Секція 4 .*/
.our-portfolio{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-portfolio-list-item-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-portfolio-list-item-name-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*  Кінець Секція 4 .*/

/*стилізація footer*/
.footer-wr{
font-family: Raleway,sans-serif;
background-color: #2e2f42;
color: #4d5ae5;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-wr-text{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color:#f4f4fd;
letter-spacing: 0.02em;
}
.footer-wr-color{
    color: #4d5ae5;
}
.footer-wr-logo {
color: #f4f4fd;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.034em;
text-transform: uppercase;
}
/*стилізація footer*/