/*стилізація body*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
    
}
ul{
    list-style: none;
}
/* Кінець стилізація body*/

/*стилізація логотипа*/
.header-wr-navigation-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-wr-navigation-logo-color{
    color:#2e2f42 ;
}
/* Кінець стилізація логотипа*/

/*Оформлення навігації*/
.header-wr-navigation-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-wr{
    font-style: normal
}
.address-wr-menu1,.address-wr-menu-item2{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-menu-link1,.address-menu-link2{
color: #434455;
}
.address-menu-link1:hover,.address-menu-link2:hover{
color: #404bbf
}
.address-menu-link1:focus,.address-menu-link2:focus{
    color: #404bbf
}
/*Кінець оформлення навігації*/
/*Секція 1. Кнопка*/
.main-wr-element-a{
    background-color:#2e2f42;
}
.main-wr-section-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main-wr-element-a-button{
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.main-wr-element-a-button{
    cursor: pointer;/* властивість наведення курсору */
}
.main-wr-element-a-button:hover {
    background-color: #404BBF;
}
.main-wr-element-a-button:focus {
    outline: none; /* Видаляємо фокусовану рамку за замовчуванням (це важливо для доступності) */
    background-color: #404BBF;
}
/* Кінець - Секція 1. Кнопка*/

/*  Секція 2.*/
.main-section-b-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-section-b-p{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
/*  Кінець секція 2.*/

/*  Секція 3 "our-team".*/
.main-section-c{
    background-color: #F4F4FD;
    color: #2e2f42;
}
.main-section-c-list-item{
    background-color: #FFFFFF;
    color: #2e2f42;
}
.main-section-c-text{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color:#2e2f42;
}
.main-section-c-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-section-c-name-details{
font-size: 16px;
font-weight: 400;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*  Кінець Секція 3 "our-team".*/

/*  Секція 4 .*/
.our-portfolio{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-portfolio-list-item-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-portfolio-list-item-name-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*  Кінець Секція 4 .*/

/*стилізація footer*/
.footer-wr{
background-color: #2e2f42;
}
.footer-wr-text{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color:#f4f4fd;
letter-spacing: 0.02em;
}
.footer-wr-color{
    font-family: Raleway, sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-wr-logo {
color: #f4f4fd;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.034em;
text-transform: uppercase;
}
/* Кінець стилізація footer*/

/* Обнулення дефолтних маржинів для заголовків та параграфів */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
/* Обнулення дефолтних маржинів і лівого падіння для списків */
ul,ol {
    margin: 0;
    padding-left: 0;
}
/* Зроблення зображень блочними елементами */
img {
    display: block;
}
/* Оформлення контейнерів */
.container{
    margin: 0 auto;
    width: 1158px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px
}
/* Оформлення хедера */
.header-wr{
    display: flex;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
}
.header-wr-navigation{
    display: flex;
    align-items: center;
    padding-right: 332px;
}
.header-wr-navigation-logo{
    margin-right:0;
    margin-right: 72px;
}
.header-wr-navigation-list{
display: flex;
gap: 40px;
}
.nav-list-item{
padding: 24px 0;
color: #2e2f42;
}
.nav-list-item:hover,.nav-list-item:focus{
color: #404bbf;}

.navigation-list-link{
color: inherit;
}
        /* Оформлення контактів */
.address-wr{
display: flex;
}
.address-wr-menu{
display: flex;
gap: 40px;
align-items: center;
}
/* Оформлення секції hero */
.main-wr-element-a{
padding: 188px 0;
}
.main-wr-element-a>.container{
width: 496px;
display: block;
}
.main-wr-section-text{
    max-width: 496px;
    margin-bottom: 48px;
    width: 496px;
}
.main-wr-element-a-button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 48px auto 0;
}
/* Оформлення секції Benefit*/
.main-section-b{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-section-b-menu{
    display: flex;
    gap: 24px;
}
.main-section-b-list{
width: calc((100% - 72px) / 4);
}
.main-section-b-text{
    margin-bottom: 8px;
}
/* Оформлення секції  Our team*/
.main-section-c{
    padding: 120px 0;
}
.main-section-c-text{
    margin-bottom: 72px;
}
.main-section-c>.container{
    display: block;
}
.main-section-c-list{
    display: flex;
    gap: 24px;
}
.main-section-c-list>li{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.people-name-job{
    padding: 32px 0;
}
.people-name-job>h3{
    text-align: center;
    margin-bottom: 8px;
}
.people-name-job>p{
    text-align: center;
}
/* Оформлення секції  Our portfolio*/
.our{
    padding: 120px 0 120px 0
}
.our>.container{
    display: block;
}
.our-portfolio{
margin-bottom: 72px;
text-align: center;
}
.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.our-portfolio-list>li{
    width: calc((100% - 48px) / 3);
}
.app-info{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
} 
.app-info>h3{
    margin-bottom: 8px;
}
/* Оформлення секції  Footer*/
.footer-wr{
    padding: 100px 0
}
.footer-wr>.container{
    display: block;
}
.footer-wr-color{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-wr-text{
    width: 264px;
}